.card {
	margin: 50px auto;
	width: 600px;
    box-shadow: 0 0 2px grey;
}

.header {
	background-color: black;
}

.logo {
	padding: 10px 0;
	display: block;
	width: 300px;
	margin: auto;
}

.body {
	position: relative;
	height: 300px;
	background-image: url(../images/background.jpg);
	background-position: center center;
	background-size: cover;
	text-align: center;
}

.cover {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.question {
	color: white;
    font-size: 40px;
    font-weight: 300;
    padding-top: 50px;
    padding-bottom: 30px;
    text-shadow: 0 0 2px black;
}

.choice {
	font-size: 30px;
	font-weight: 400;
	margin: 0 30px;
	padding: 0 10px;
	border-radius: 3px;
	cursor: pointer;
	background-color: grey;
}

.choice:hover {
	color: white;
	background-color: rgba(0, 0, 0, 0.54);
	transition: all 300ms;
}

.choice-checked {
	color: white;
	background-color: rgba(0, 0, 0, 0.54);
	transition: all 300ms;	
}

.answer {
	position: absolute;
	bottom: 0;
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.54);
    width: 100%;
    line-height: 100px;
}

